<!DOCTYPE html>

<html>
    <body>
        <div>
            <h1 style="text-align: center; color: darkblue;">Book Details</h1>
        </div>
        <div id = "page" style="text-align: center;">
            <p>{{book.bookname}}</p>
            <p>Author: {{book.authorname}}</p>
            <a href="{{book.link}}">Purchase book in Amazon</a>
        </div>
        <br>
        <br>
        <div class ="navgt" style="text-align: center;">
            <ul>
                <a href="/home">Book list</a> <span>|</span>
                <a href="/addbook">Add Book</a> <span>|</span>
                <a href="/delbook">Delete Book</a>
            </ul>
        </div>

    </body>
</html>