<!DOCTYPE html>

<html>
    <body>
        <div id="head" style="text-align: center; color: darkblue;">
            <h1>Select the Book to view more Information on them</h1>
        </div>

        <div class="bookdetails" style="text-align: center;">
            {{#each books}}
            <br>
            <br>
            <a href="/books/{{number}}">{{bookname}}</a>
            {{/each}}
            <br>
            <br>
        </div >
        <div class="navgt" style="text-align: center;">
            <a href="/home">Book list</a> <span>|</span>
            <a href="/addbook">Add Book</a> <span>|</span>
            <a href="/delbook">Delete Book</a>
        </div>
    </body>
</html>